<main>
    <div class="content">
        <app-follow-header></app-follow-header>
        <p>There are some people who are really good at making smart decisions with their money, like a great leader in
            the game.</p>
    </div>
    <img class="slide-image" src="../../assets/images/follow-slide-image.png">
    <div class="content">
        <p>Just like in the game, it's important to choose a skilled leader to follow. With us, you can have more
            confidence in the decisions you make
            and increase your chances of doing well in copytrading. Whenever our team makes a decision to buy or sell
            crypto, your money will
            automatically do the same thing. It's like you're copying our moves, just like in the game of
            follow-the-leader.</p>
        <app-outline-button>FOLLOW</app-outline-button>
        <br>
        <div>
            <img class="logos" src="../../assets/images/company-logos.png">
        </div>
    </div>
</main>