<main>
    <div class="content">
        <h1>Copy trading is like the game of “Follow the leader", only with money</h1>
        <p>There are some people who are really good at making smart decisions with their money, like a great leader in the game.</p>
        <img src="../../assets/images/follow-slide-image.png">
        <p>Just like in the game, it's important to choose a skilled leader to follow. With us, you can have more confidence in the decisions you make
            and increase your chances of doing well in copytrading. Whenever our team makes a decision to buy or sell crypto, your money will
            automatically do the same thing. It's like you're copying our moves, just like in the game of follow-the-leader.</p>
        <button>FOLLOW</button>
    </div>
</main>