<main>
    <div class="content">
        <h1>СТОИМОСТЬ ПОДПИСКИ ВСЕГО 15000 ОТ МАКСИМАЛЬНОЙ СУММЫ СДЕЛКИ</h1>
        <div class="line"></div>
        <h2>КАК ЭТО ПОСЧИТАТЬ?</h2>
        <p>Все просто. Допустим, вы готовы начать торговать с активом в размере 300$. Тогда оплата
            подписки в размере от такой суммы составит 45$ в месяц. <strong>Это ничтожная сумма по
                сравнению прибылью, которую возвращают юзеры нашего софта.</strong> Ведь бот торгует с
            максимальным плечом Х20 (размер займа у биржи), что позволит отбить сумму подписки
            всего за несколько дней!</p>
        <a class="button" href="https://google.com">ОФОРМИТЬ ПОДПИСКУ</a>
    </div>
</main>