.app-titlebar {
    display: flex;
    
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.title {
    margin-right: 5vw;
    color: var(--fg);
    font-weight: 400;
}

.hastags {
    display: flex;
}

h3 {
    margin-right: 20px;
    color: var(--bg2);
    font-weight: 400;
}