.app-titlebar {
    display: flex;
    margin-top: 5%;
    font-size: 1vw;
}

.title {
    margin-right: 1.2vw;
    color: var(--fg);
    font-weight: 400;
}

h3 {
    margin-right: 1vw;
    color: var(--bg2);
    font-weight: 400;
}