.app-titlebar {
    display: flex;
    align-items: center;
    
    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.title {
    margin-right: 3vw;
    color: var(--fg);
    width: 20%;
    height: 10%;
    min-width: 200px;
    min-height: 40px;
}

.hastags {
    display: flex;
}

h3 {
    margin-right: 20px;
    color: var(--bg2);
    font-weight: 400;
}