<main>
    <div class="content">
        <app-guaranteed-roi-component
            [description]="'We provide confirmed and verified results showing that our author\'s signals have achieved a return of 300% over the last six months. Such a period allows to demonstrate our ability to provide profitability and the potential for capital growth.'"
            [heading]="'Guaranteed ROI up to 300% over six months'"
            [imageUrl]="'../../assets/images/roi-image-one.png'"></app-guaranteed-roi-component>

        <app-minimum-drawdown
            [description]="'Our team carry out strategic risk management and make every effort to minimize drawdowns. The maximum drawdown of 30% shows that we limit losses and strive to preserve assets.'"
            [heading]="'Maximum possible drawdown 30%'" [topHeading]="'Average drawdown 10%'"
            [imageUrl]="'../../assets/images/roi-image-two.png'"></app-minimum-drawdown>
    </div>
</main>