<main>
    <div class="content">
        <app-guaranteed-roi-component
            [description]="'Мы предоставляем подтвержденные результаты, показывающие, что наши стратегии достигли доходности 400% за последние шесть месяцев. Такой период позволяет продемонстрировать нашу способность обеспечить прибыльность и потенциал роста капитала.'"
            [heading]="'Гарантированная прибыль до 400% в течение шести месяцев'"
            [imageUrl]="'../../assets/images/roi-image-one.png'"></app-guaranteed-roi-component>

        <app-minimum-drawdown
            [description]="'Наша команда обеспечивает стратегическое управление рисками и прилагает все усилия для минимизации убытков. Максимальная просадка в 30% показывает, что мы ограничиваем потери и стремимся сохранить активы, используя'"
            [heading]="' Максимально зафиксировання просадка 30%'" [topHeading]="'Средняя просадка портфеля 10%'"
            [imageUrl]="'../../assets/images/roi-image-two.png'"></app-minimum-drawdown>
    </div>
</main>