main {
    background: radial-gradient(circle at 0% 0%, #75102d 2vw, #0F0F0F 22vw);

    @media (max-width: 900px) {
        background: radial-gradient(circle at 0% 20%, #75102d 2vw, #0F0F0F 17%);
    }

    @media (max-width: 700px) {
        background: radial-gradient(circle at 0% 30%, #75102d 2vw, #0F0F0F 30%);
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    @media (max-width: 1400px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 900px) {
        max-width: unset;
        margin-left: 0;
        margin-right: 0;
    }
}