main {
    background: radial-gradient(circle at 0% 0%, #75102d 2vw, #0F0F0F 22vw);
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;

    @media (max-width: 1400px) {
        margin-left: 20px;
        margin-right: 20px;
    }

    @media (max-width: 1070px) {
        max-width: unset;
        margin-left: 0;
        margin-right: 0;
    }
}