<main>
    <div class="container slow">
    <div class="company tether">
    </div>
    <div class="company ethereum">
    </div>
    <div class="company binance">
    </div>
    <div class="company tether">
    </div>
    <div class="company ethereum">
    </div>
    <div class="company binance">
    </div>
</div>

    <div class="container mid">
        <div class="company tether">
        </div>
        <div class="company ethereum">
        </div>
        <div class="company binance">
        </div>
        <div class="company tether">
        </div>
        <div class="company ethereum">
        </div>
        <div class="company binance">
        </div>
    </div>

    <div class="container fast">
        <div class="company tether">
        </div>
        <div class="company ethereum">
        </div>
        <div class="company binance">
        </div>
        <div class="company tether">
        </div>
        <div class="company ethereum">
        </div>
        <div class="company binance">
        </div>
    </div>
</main>
  