main {
  position: relative;
  height: fit-content;
  width: 30%;
  margin-top: 35px;
  padding: 10px;
  z-index: 0;

  @media (max-width: 1070px) {
    width: 40%;
  }
}

main::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow:
    inset 20px 20px 100px var(--bg),
    inset -20px -20px 100px var(--bg),
    inset 0px 0px 20px 20px var(--bg);
  z-index: 1;
}

.container {
  overflow: hidden;
  display: flex;
  margin: 10px auto;
  z-index: 1;
}

.container.fast div {
  animation: slide 30s linear reverse infinite;
}

.container.mid div {
  animation: slide 40s linear infinite;
}

.container.slow div {
  animation: slide 60s linear reverse infinite;
}

.tether {
  background-image: url("../../assets/images/tether-logo.png");
}

.ethereum {
  background-image: url("../../assets/images/ethereum-logo.png");
}

.binance {
  background-image: url("../../assets/images/binance-logo.png");
}

.company {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: var(--bg3);
  border-radius: 50px;
  margin-left: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
  height: 32px;

  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-490px, 0, 0);
    /* The image width */
  }
}