h1 {
    position: relative;
    font-size: 47px;
    margin-top: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

.content-mobile {
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (max-width: 900px) {
        display: flex;
    }

    .text-information {
        max-width: 75%;
        margin-left: auto;
        margin-right: auto;
        position: sticky;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 18px;
    }

    h2:before {
        position: absolute;
        height: 5px;
        width: 10%;
        left: 50%;
        top: -15px;
        transform: translate(-50%, -50%);
        background: var(--fg);
        display: block;
        content: "";
    }
}

.content-desktop {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;


    p {
        font-size: 18px;
    }

    @media (max-width: 900px) {
        display: none;
    }


    h1:before {
        position: absolute;
        height: 5px;
        width: 10%;
        left: 0;
        bottom: -15px;
        background: var(--fg);
        display: block;
        content: "";
    }

}