@use "../../styles.scss" as g;

main {
    background: url("/assets/images/slide-copy-trades.png"), radial-gradient(circle at 10% 50%, #75102d 2vw, #00000000 22vw);
    background-position: -10vw 50%, left center;
    background-size: 30% auto, 100% 100%;
    background-repeat: no-repeat;
    min-height: 1000px;

    @media (max-width: 900px) {
        background-position: -20vw 50%, left center;
        background-size: 60% auto, 100% 100%;
    }
}

img {
    width: 50%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.arrow {
    margin-top: 40px;
    font-size: 200px;
    font-weight: bold;
    text-align: center;
    color: var(--accent);
}

.header-content {
    text-align: center;
    padding-top: 30px;

    h1 {
        font-size: 56px;
    }

    @media (max-width: 900px) {
        margin-bottom: 20%;
        h1 {
            font-size: 2em;
            margin-top: 0;
        }
    }

    @media (max-width: 700px) {
        margin-bottom: 0;
    }
}

.content {
    @include g.slide-container;

    padding-top: 100px;
    padding-bottom: 100px;

    p {
        font-size: 20px;
        @media (max-width: 900px) {
            margin-top: 0;
            font-size: unset;
        }
    }
}

.steps {
    display: flex;
    margin-top: 30px;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}