@use "../../styles.scss" as g;

main {
    background: url("/assets/images/slide-copy-trades.png"), radial-gradient(circle at 20% 57%, #75102d 2vw, rgba(0, 0, 0, 0) 22vw);
    background-position: -13vw 76%, -13vw 76%;
    background-size: 30% auto, 100% 100%;
    background-repeat: no-repeat;
    min-height: 1000px;

    @media (max-width: 900px) {
        background-position: -20vw 50%, left center;
        background-size: 60% auto, 100% 100%;
    }
}

.logos {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.arrow {
    display: flex;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 15%;
    height: 15%;

    @media (max-width: 1070px) {
        margin-top: 0;
        width: 50%;
        height: 50%;
        transform: rotate(90deg);
        margin-left: auto;
        margin-right: auto;
    }
}

.header-content {
    text-align: center;
    padding-top: 30px;

    h1 {
        font-size: 47px;
    }

    @media (max-width: 1400px) {
        h1 {
            font-size: 2em;
        }
    }

    @media (max-width: 900px) {
        margin-bottom: 20%;
        h1 {
            font-size: 2em;
            margin-top: 0;
        }
    }

    @media (max-width: 700px) {
        margin-bottom: 0;
    }
}

.content {
    @include g.slide-container;

    padding-top: 100px;
    padding-bottom: 100px;

    p {
        font-size: 20px;
        @media (max-width: 1070px) {
            margin-top: 0;
            font-size: unset;
        }
    }
}

.steps {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    margin-top: 30px;
    
    @media (max-width: 1070px) {
        flex-direction: column;
    }
}