@use "../../styles.scss" as g;

main {
    background: radial-gradient(circle at 0% 100%, #75102d 2vw, #00000000 22vw);
    min-height: 1000px;

    @media (max-width: 900px) {
        background: radial-gradient(circle at 50% 0%, #75102d 2vw, #00000000 50vw);
    }
}

.header-content {
    text-align: center;
    padding-top: 30px;

    h1 {
        font-size: 56px;
    }

    @media (max-width: 900px) {
        margin-bottom: 20%;
        h1 {
            font-size: 2em;
            margin-top: 0;
        }
    }
}

.content {
    @include g.slide-container;

    padding-top: 10%;

    p {
        font-size: 20px;
        @media (max-width: 900px) {
            margin-top: 0;
            font-size: unset;
        }
    }
}

.redirect {
    background-image: url("../../assets/images/arrows.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 170px;

    button {
        margin-top: 100px;
    }
}

.steps {
    display: flex;
    margin-top: 30px;
    @media (max-width: 700px) {
        flex-direction: column;
    }
}