<main [style.backgroundPosition]="backgroundPosition">
    <div class="content">
        <img class="image-left" src="../../assets/images/telegram.png">
        <p>READY TO GET STARTED?</p>
        <h1>WE ONLY TAKE A COMMISSION FOR PROFITABLE DEALS</h1>
        <p>If the user suffers a loss, he will not pay this extra, as is common with most brokers.</p>
        <div class="block"></div>
        <button>
            SUBSCRIBE ME ON TRADERWAGON
        </button>
        <p>We strive to offer our users the most honest and most clear payment model in the form of 10% of income, which means
            paying commission only in case of profit. Our users do not pay for unsuccessful deals and always stay in the black.</p>
        <img class="image-right" src="../../assets/images/telegram2.png">
    </div>
</main>