<main>
    <div class="content">
        <h1>Остались вопросы? У нас есть ответы!</h1>
        <h3>Если у вас остались вопросы, ответов на которые нет ниже, вы точно найдете их в нашем полном мануале по
            использованию <u>PROFIT WAVE AI
                СОРУ TRADING ВОТ</u> Мы также ответим на ваши любые вопросы лично, просто обратитесь к <u>нашему
                менеджеру в телеграм</u></h3>
        <div class="faq-container">
            <div class="faq-definition">
                <h2>ЧТО ТАКОЕ КОПИ-ТРЕЙДНИГ?</h2>
                <p>Это способ зароботка на бирже, когда пользователь копирует сделки
                    профессионального трейдера. Копи-трейдинг бывает ручной и автомотический.
                    Автомотический копи-трейдинг - это бот, который колирует наши действия. команды
                    ProftWove, но вашем аккоунте. При этом для вас нет необходимости углубляться в
                    теорию трейдинга и тратить время но ручное копирование сделок.</p>
            </div>
            <div class="faq-definition">
                <h2>КАК СИЛЬНО Я РИСКУЮ С ВАМИ?</h2>
                <p>Любые инвестиции - это риски. Однако мы их минимизировали блогодаря тому. что в
                    нашей команде роботают трейдеры с огромным опытом. Прежде чем мы подключаем ту
                    или иную стратегию к автомотизоции, мы проводим тщательнейшее тестирование ее
                    стобильности и доходности. По статистике из 10 стратегий, проверку временем проходит
                    только 1. Мы сделали эту проверку за вас. Пользуйтесь!</p>
            </div>
            <div class="faq-definition">
                <h2>ЧТО НУЖНО ЧТОБЫ НАЧАТЬ?</h2>
                <p>Стать инвестором с помощью нашего бота очень легко. Вам необходимо иметь счет на
                    бирже Binance или ByBit, пройти верификацию. Зарегистрироваться в AI СОРУ TRADING
                    ВOТ, оплатить подписку в размере 15% от суммы вашего торгового баланса, связать бот
                    с вашим аккоунтом на бирже и положить деньги но фьючерсный счёт.
                    Вы всегда можете связаться с нами, наш менеджер поможет пошагово пройти все этапы
                    от регистрации до начала копирования.</p>
            </div>
            <div class="faq-definition">
                <h2>С КАКОЙ СУММЫ Я МОГУ НАЧАТЬ ИНВЕСТИРОВАТЬ?</h2>
                <p>Минимальная сумма для начала копирования сделок - 100$. для старта мы все же
                    рекомендуем начинать с суммы не менее 300$, так как это позволит в большей мере
                    раскрыть потенциал лонговой стратегии. Чем выше максимальная сумма сделки
                    (размер вашего фьючерсного баланса), тем более жирный кусок пирога вам
                    достанется.
                </p>
            </div>
        </div>

        <div class="faq-definition-last">
            <h2>Я НЕ БУДУ ОБМАНУТ?</h2>
            <p>
                Ваши деньги хранятся на вашем аккаунте. Кроме вас ни у кого нет доступа к этим
                активам. При создании АРI ключей, мы просим дать сервису доступ только к торговле.
                Доступ к выводу денежных средств для копирования сделок не нужен.
            </p>
        </div>
    </div>
</main>