<main>
    <div class="content">
        <app-titlebar></app-titlebar>
        <div class="description">
            <h1>Employ Copy Trading With The Pro Team on TraderWagon</h1>
            <p>
                Proven return of investment (ROI) on our strategies have reached
                300% over last six months.
            </p>
            <p>
                I work on the most advanced crypto trading strategies together
                with a team of professional analysts as well as using AI. Automate
                your trades by subscribing to our best trading strategies and get
                guaranteed profit.
            </p>
        </div>
    
        <a class="button" href="https://google.com">WANT TO TRY NOW</a>
        <app-cryptoscroll></app-cryptoscroll>
        <app-rocket></app-rocket>
        <div class="gradient"></div>
    </div>
</main>