<main (mousemove)="onMouseMove($event)">
    <div class="content">
        <app-titlebar></app-titlebar>
        <img src="../../assets/images/main-slide-rocket.png" [style.top.px]="imageRocketTop">
        <img src="../../assets/images/main-slide-balls.png" [style.top.px]="imageBallsTop">
        <div class="description">
            <h1>Employ Copy Trading With The Pro Team on TraderWagon</h1>
            <p>
                Proven return of investment (ROI) on our strategies have reached
                300% over last six months.
            </p>
            <p>
                I work on the most advanced crypto trading strategies together
                with a team of professional analysts as well as using AI. Automate
                your trades by subscribing to our best trading strategies and get
                guaranteed profit.
            </p>
        </div>
    
        <button>WANT TO TRY NOW</button>
    </div>
</main>