<main>
    <div class="content">
        <app-titlebar></app-titlebar>
        <div class="description">
            <div class="heading">
                <h1>КОПИТРЕЙДИНГ Бот - это незаменимый инструмент любого трейдера в 2023 году</h1>
                <img src="assets/images/main-slide-rocket.png">
            </div>
            <p>
                Мы предоставляем доказательства возврата инвестиций (ROI) наших
                стратегий, который составляет 400%+ за последние шесть месяцев.
            </p>
            <p>
                Торгуйте криптовалютой по самым передовым стратегиям, копируя
                действия команды профессионалов. Автоматизируйте свои сделки,
                подписавшись но самого лучшего торгового помощнико прямо в
                мессенджере Telegram, и получайте гарантированную прибыль.
            </p>
        </div>

        <a class="button" href="https://google.com">КОНСУЛЬТАЦИЯ</a>
        <app-cryptoscroll></app-cryptoscroll>
    </div>
    <div class="bottom-image">
    </div>
</main>