.component {
    position: absolute;
    width: 50vw;
    max-width: 1080px;
    max-height: 1080px;
    top: 0px;
    right: 0px;
    z-index: 2;

    @media (min-width: 2500px) {
        right: 25vw;
    }

    @media (max-width: 1070px) {
        width: 70vw;
        top: unset;
        bottom: -100px;
    }

}

.balls {
    transition: transform 33ms;
}

.rocket {
    transition: transform 100ms;
}
